<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>swimWEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrazioneServlet</display-name>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <servlet-class>servlet.RegistrazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <url-pattern>/RegistrazioneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaAiutoServlet</display-name>
    <servlet-name>RicercaAiutoServlet</servlet-name>
    <servlet-class>servlet.RicercaAiutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaAiutoServlet</servlet-name>
    <url-pattern>/RicercaAiutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaAiutoAmiciServlet</display-name>
    <servlet-name>RicercaAiutoAmiciServlet</servlet-name>
    <servlet-class>servlet.RicercaAiutoAmiciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaAiutoAmiciServlet</servlet-name>
    <url-pattern>/RicercaAiutoAmiciServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiestaNuovaAbilitaServlet</display-name>
    <servlet-name>RichiestaNuovaAbilitaServlet</servlet-name>
    <servlet-class>servlet.RichiestaNuovaAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiestaNuovaAbilitaServlet</servlet-name>
    <url-pattern>/RichiestaNuovaAbilitaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfermaAbilitaServlet</display-name>
    <servlet-name>ConfermaAbilitaServlet</servlet-name>
    <servlet-class>servlet.ConfermaAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfermaAbilitaServlet</servlet-name>
    <url-pattern>/ConfermaAbilitaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaProfiloServlet</display-name>
    <servlet-name>RicercaProfiloServlet</servlet-name>
    <servlet-class>servlet.RicercaProfiloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaProfiloServlet</servlet-name>
    <url-pattern>/RicercaProfiloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaProfiloServlet</display-name>
    <servlet-name>ModificaProfiloServlet</servlet-name>
    <servlet-class>servlet.ModificaProfiloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaProfiloServlet</servlet-name>
    <url-pattern>/ModificaProfiloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiAbilitaServlet</display-name>
    <servlet-name>AggiungiAbilitaServlet</servlet-name>
    <servlet-class>servlet.AggiungiAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiAbilitaServlet</servlet-name>
    <url-pattern>/AggiungiAbilitaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfermaAiutoServlet</display-name>
    <servlet-name>ConfermaAiutoServlet</servlet-name>
    <servlet-class>servlet.ConfermaAiutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfermaAiutoServlet</servlet-name>
    <url-pattern>/ConfermaAiutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>servlet.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiestaAiutoServlet</display-name>
    <servlet-name>RichiestaAiutoServlet</servlet-name>
    <servlet-class>servlet.RichiestaAiutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiestaAiutoServlet</servlet-name>
    <url-pattern>/RichiestaAiutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfermaAmiciziaServlet</display-name>
    <servlet-name>ConfermaAmiciziaServlet</servlet-name>
    <servlet-class>servlet.ConfermaAmiciziaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfermaAmiciziaServlet</servlet-name>
    <url-pattern>/ConfermaAmiciziaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiestaAmiciziaServlet</display-name>
    <servlet-name>RichiestaAmiciziaServlet</servlet-name>
    <servlet-class>servlet.RichiestaAmiciziaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiestaAmiciziaServlet</servlet-name>
    <url-pattern>/RichiestaAmiciziaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PannelloControllo</display-name>
    <servlet-name>PannelloControllo</servlet-name>
    <servlet-class>servlet.PannelloControllo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PannelloControllo</servlet-name>
    <url-pattern>/PannelloControllo</url-pattern>
  </servlet-mapping>
</web-app>